@font-face {
  font-family: "InterBold";
  src: url("../assets/fonts/Inter-Bold.woff2") format("woff2"), url("../assets/fonts/Inter-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "InterMedium";
  src: url("../assets/fonts/Inter-Medium.woff2") format("woff2"), url("../assets/fonts/Inter-Medium.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "InterRegular";
  src: url("../assets/fonts/Inter-Regular.woff2") format("woff2"), url("../assets/fonts/Inter-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "SpaceGrotesk";
  src: url("../assets/fonts/SpaceGrotesk-Bold.woff2") format("woff2"), url("../assets/fonts/SpaceGrotesk-Bold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
* {
  box-sizing: border-box;
}

html {
  font-size: 20px;
  scroll-behavior: smooth;
  width: 100%;
  margin: 0;
  padding: 0;
}
@media (max-width: 1200px) {
  html {
    font-size: 18px;
  }
}
@media (max-width: 820px) {
  html {
    font-size: 16px;
  }
}

body {
  font-family: Inter, sans-serif;
  font-size: 1rem;
  margin: 0;
  padding: 0;
}

h1 {
  font-family: "InterMedium", sans-serif;
  font-size: 4.5rem;
  line-height: 110%;
  color: #ffffff;
  font-weight: inherit;
}
@media (max-width: 590px) {
  h1 {
    font-size: 3rem;
    text-wrap: pretty;
  }
}
@media (max-width: 375px) {
  h1 {
    font-size: 2.5rem;
  }
}

h2 {
  font-family: "InterBold", sans-serif;
  font-size: 3rem;
  line-height: 123%;
  font-weight: inherit;
  color: #000000;
}
@media (max-width: 550px) {
  h2 {
    font-size: 2.5rem;
    text-wrap: pretty;
    margin-top: 1rem;
  }
}
@media (max-width: 375px) {
  h2 {
    font-size: 2rem;
    margin-top: 1rem;
  }
}
h2.white {
  color: #ffffff;
}

h3 {
  font-family: "InterMedium", sans-serif;
  font-size: 2rem;
  line-height: 123%;
  font-weight: inherit;
  margin: 0;
}
@media (max-width: 550px) {
  h3 {
    font-size: 1.5rem;
    text-wrap: pretty;
  }
}

h4 {
  font-family: "InterMedium", sans-serif;
  font-size: 1.5rem;
  line-height: 123%;
  font-weight: inherit;
  margin: 0;
}
@media (max-width: 550px) {
  h4 {
    font-size: 1.25rem;
    text-wrap: pretty;
  }
}

h5 {
  font-family: "InterBold", sans-serif;
  font-size: 1rem;
  line-height: 140%;
  font-weight: inherit;
  margin: 0;
}

p {
  font-family: "InterRegular", sans-serif;
  font-size: 1rem;
  line-height: 123%;
  font-weight: inherit;
  margin-top: 0;
}

.container {
  width: 100%;
  max-width: 94%;
  margin: 0 auto;
  padding: 0 1rem;
  box-sizing: border-box;
}
@media (max-width: 550px) {
  .container {
    padding: 0;
  }
}

.impressum-section {
  position: relative;
  margin: calc((100vw - 94%) / 2 + 0.6rem);
  width: 28rem;
  height: max-content;
}
.impressum-section nav {
  max-width: 30rem;
  width: calc(100% - 2.6rem);
  margin-top: -5rem;
  grid-auto-flow: column;
  background-color: rgba(235, 235, 235, 0.66);
}
.impressum-section nav ul {
  justify-content: end;
}

.impressum-container {
  max-width: 30rem;
  margin: 6rem calc((100vw - 94%) / 2 + 0.6rem) 9rem calc((100vw - 94%) / 2 + 0.6rem);
  text-wrap: pretty;
}
.impressum-container li::marker {
  color: #1BB8D5;
}
.impressum-container .bold {
  margin-bottom: 2rem;
}
.impressum-container .contact {
  display: grid;
  grid-template-columns: auto 2fr;
  grid-column-gap: 1rem;
  width: max-content;
}
.impressum-container .contact a {
  color: #000000;
}

.tag-wrapper {
  display: grid;
  grid-auto-flow: column;
  grid-gap: 0.5rem;
  justify-content: start;
}

.tag {
  background-color: #1BB8D5;
  color: #ffffff;
  font-family: "SpaceGrotesk", sans-serif;
  font-size: 0.8rem;
  line-height: 1;
  padding: 0.5rem;
  border-radius: 5px;
  width: max-content;
  text-transform: uppercase;
}
@media (max-width: 590px) {
  .tag {
    font-size: 1rem;
  }
}
.tag.gray {
  background-color: #EBEBEB;
  color: #000000;
}
@media (max-width: 590px) {
  .tag.gray {
    font-size: 0.7rem;
  }
}
.tag.white {
  background-color: #ffffff;
  color: #000000;
}
.tag.contact {
  background-color: transparent;
  color: #ffffff;
  text-decoration: none;
  padding: 0;
  margin-right: 0.5rem;
  font-size: 0.75rem;
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  grid-gap: 0.5rem;
}

.lead {
  font-family: "InterBold", sans-serif;
  font-size: 1.2rem;
}

li a {
  color: #000000;
  transition-duration: 0.3s;
}
li a:hover {
  color: #1BB8D5;
}
li a > :last-child {
  color: #000000;
}
li .nav-link {
  font-family: "SpaceGrotesk", sans-serif;
  font-size: 0.75rem;
  line-height: 1;
  text-transform: uppercase;
}
@media (max-width: 1024px) {
  li .nav-link {
    font-size: 1.5rem;
  }
}

nav {
  z-index: 1000;
  position: fixed;
  top: 1rem;
  left: 0; /* anchor to left (important if parent is relative) */
  right: 0;
  padding: 0.5rem 1rem;
  display: grid;
  border-radius: 5px;
  align-items: center;
  background-color: rgba(235, 235, 235, 0.7);
  backdrop-filter: blur(12px);
}
nav ul {
  list-style: none;
  display: grid;
  padding: 0;
}
@media (max-width: 1024px) {
  nav ul {
    row-gap: 0.4rem;
  }
}
nav ul li {
  margin-left: 0.75rem;
  margin-right: 0.75rem;
}
nav ul li:first-of-type {
  margin-left: 0;
  margin-right: 0.75rem;
}
nav ul li:last-of-type {
  margin-left: 0.75rem;
  margin-right: 0;
}
@media (max-width: 1024px) {
  nav ul li:last-of-type {
    padding-top: 1rem;
  }
}
nav ul li a {
  text-decoration: none;
}
nav ul li .tag {
  color: #ffffff;
}

.nav {
  display: block grid;
  width: max-content;
  grid-gap: 3rem;
  grid-auto-flow: column;
  margin: 0 calc((100vw - 94%) / 2 + 0.6rem);
}
@media (max-width: 1024px) {
  .nav {
    display: none;
  }
}
.nav ul {
  grid-auto-flow: column;
}

.mobile-nav {
  display: none;
  grid-template-columns: 1fr 1fr;
  max-width: 100vw;
  margin: 0;
  justify-content: space-between;
  transition: background-color 0.7s ease-in;
}
.mobile-nav > :nth-child(2) {
  justify-self: end;
}
@media (max-width: 1024px) {
  .mobile-nav {
    display: block grid;
    width: calc(100vw - 4rem);
    margin: 0 calc((100vw - 94%) / 2 + 0.6rem);
  }
}
@media (max-width: 550px) {
  .mobile-nav {
    display: block grid;
    width: calc(100vw - 1.6rem);
    margin: 0 calc((100vw - 94%) / 2);
  }
}
.mobile-nav #navMobile {
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-out, opacity 0.3s ease-out;
}
.mobile-nav #menuToggle:checked + .menu-icon + #navMobile {
  max-height: 550px;
  opacity: 1;
}
.mobile-nav .menu-icon {
  display: inline-block;
  cursor: pointer;
  justify-self: end;
}
.mobile-nav #navMobile.show {
  display: block;
  opacity: 1;
}
.mobile-nav ul li {
  margin: 0.75rem 0;
}
.mobile-nav ul li:first-of-type {
  margin-right: 0;
}
.mobile-nav ul li:last-of-type {
  margin-left: 0;
}

#hero {
  position: relative;
  background-image: url("../assets/images/image_12.jpg");
  height: 100vh;
  max-width: 100vw;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
@media (min-width: 1024px) {
  #hero {
    height: calc(var(--vh, 1vh) * 100);
  }
}
#hero .hero-mood {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 1;
}
#hero .hero-text {
  position: absolute;
  bottom: 0;
  z-index: 2;
  width: 100%;
  padding: 1rem 1rem 2rem 1rem;
}
@media (min-width: 870px) {
  #hero .hero-text {
    width: 75%;
    padding: 1rem calc((100vw - 94%) / 2 + 0.6rem) 0 calc((100vw - 94%) / 2 + 0.6rem);
  }
}

.ansprechpartner {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 1rem;
  margin-top: 6rem;
}
.ansprechpartner div {
  grid-column: span 4;
  margin-right: 1rem;
}
@media (max-width: 1024px) {
  .ansprechpartner div {
    grid-column: span 6;
  }
}
@media (max-width: 550px) {
  .ansprechpartner h3 {
    margin-top: 3rem;
    font-size: 1.75rem;
    text-wrap: pretty;
  }
}

.ablauf-nav {
  margin-top: 6rem;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  justify-items: center;
}
.ablauf-nav .icon-wrapper {
  justify-content: center;
}
@media (max-width: 1024px) {
  .ablauf-nav {
    grid-template-columns: repeat(3, 1fr);
    row-gap: 3rem;
  }
}
@media (max-width: 678px) {
  .ablauf-nav {
    grid-template-columns: repeat(2, 1fr);
    row-gap: 3.5rem;
    column-gap: 1.75rem;
  }
}
.ablauf-nav .icon-wrapper {
  text-decoration: none;
  color: #000000;
  display: grid;
}
@media (max-width: 1024px) {
  .ablauf-nav .icon-wrapper {
    justify-items: center;
  }
}
.ablauf-nav .icon-wrapper span {
  margin-top: 0.725rem;
}

#ansprechpartner .container {
  margin-top: 9rem;
}
#ansprechpartner .container .img-text {
  display: grid;
  grid-auto-flow: column;
  grid-gap: 1rem;
}
@media (max-width: 550px) {
  #ansprechpartner .container .img-text {
    display: block;
  }
}
#ansprechpartner .container .img-text img {
  object-fit: cover;
  width: auto;
  height: 100%;
  display: block;
}
@media (max-width: 550px) {
  #ansprechpartner .container .img-text img {
    width: 100%;
  }
}
#ansprechpartner .container .img-text:first-child {
  grid-column: span 2;
}
#ansprechpartner .container .img-text h3 {
  grid-column: span 5;
}
@media (max-width: 550px) {
  #ansprechpartner .container .img-text h3 {
    margin-top: 3rem;
    font-size: 1.75rem;
    text-wrap: pretty;
  }
}
@media (max-width: 1024px) {
  #ansprechpartner .container .img-text {
    grid-auto-flow: row;
    row-gap: 3rem;
  }
}
#ansprechpartner .container .grid-img {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 1rem;
  margin-top: 9rem;
}
#ansprechpartner .container .grid-img > :nth-child(1) {
  grid-area: 1/1/4/6;
  width: 100%;
  object-fit: cover;
}

#baupartner .container {
  margin-top: 3rem;
}
#baupartner .container .grid-img-2 {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-gap: 1rem;
  margin-bottom: 9rem;
}
#baupartner .container .grid-img-2 > :nth-child(1) {
  grid-area: 2/1/5/3;
  width: 100%;
  object-fit: cover;
}
#baupartner .container .grid-img-2 > :nth-child(2) {
  grid-area: 1/3/4/7;
  width: 100%;
  object-fit: cover;
}
@media (max-width: 590px) {
  #baupartner .container .grid-img-2 {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(8, 1fr);
  }
  #baupartner .container .grid-img-2 > :nth-child(1) {
    grid-area: 5/1/9/3;
  }
  #baupartner .container .grid-img-2 > :nth-child(2) {
    grid-area: 1/1/5/5;
  }
}
#baupartner .container .card-wrapper {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(3, 1fr);
}
@media (max-width: 1024px) {
  #baupartner .container .card-wrapper {
    grid-template-columns: 1fr;
    grid-gap: 4rem;
  }
  #baupartner .container .card-wrapper .card {
    justify-items: stretch;
  }
}
#baupartner .container .card-wrapper .card img {
  max-width: 100%;
  height: auto;
  display: block;
}
#baupartner .container .card-wrapper .card h4 {
  margin-top: 1.5rem;
  font-size: 1.5rem;
}
#baupartner .container .xp-wrapper {
  display: grid;
  grid-template-columns: 2fr 2fr 2fr;
  grid-gap: 1rem;
  margin-top: 6rem;
  margin-bottom: 9rem;
}
@media (max-width: 650px) {
  #baupartner .container .xp-wrapper {
    grid-template-columns: 1fr;
    grid-template-rows: 2fr 2fr 2fr;
    grid-gap: 3rem;
  }
}
#baupartner .container .xp-wrapper .xp-card {
  display: grid;
  border-left: 0.25rem #1BB8D5 solid;
  padding-left: 1.5rem;
}
#baupartner .container .xp-wrapper .xp-card .xp-header {
  font-family: "SpaceGrotesk", sans-serif;
  font-size: 4.5rem;
  color: #1BB8D5;
}

#dienstleistungen .swiper-dienstleistungen, #dienstleistungen .swiper-projekte, #dienstleistungen .swiper-team, #projekte .swiper-dienstleistungen, #projekte .swiper-projekte, #projekte .swiper-team, #team .swiper-dienstleistungen, #team .swiper-projekte, #team .swiper-team {
  width: 100%;
  margin-bottom: 9rem;
  position: relative;
  overflow-x: hidden;
}
#dienstleistungen .swiper-dienstleistungen .swiper-wrapper, #dienstleistungen .swiper-projekte .swiper-wrapper, #dienstleistungen .swiper-team .swiper-wrapper, #projekte .swiper-dienstleistungen .swiper-wrapper, #projekte .swiper-projekte .swiper-wrapper, #projekte .swiper-team .swiper-wrapper, #team .swiper-dienstleistungen .swiper-wrapper, #team .swiper-projekte .swiper-wrapper, #team .swiper-team .swiper-wrapper {
  padding-left: calc((100vw - 94%) / 2 + 0.6rem);
  box-sizing: border-box;
  cursor: grab;
}
@media (max-width: 550px) {
  #dienstleistungen .swiper-dienstleistungen .swiper-wrapper, #dienstleistungen .swiper-projekte .swiper-wrapper, #dienstleistungen .swiper-team .swiper-wrapper, #projekte .swiper-dienstleistungen .swiper-wrapper, #projekte .swiper-projekte .swiper-wrapper, #projekte .swiper-team .swiper-wrapper, #team .swiper-dienstleistungen .swiper-wrapper, #team .swiper-projekte .swiper-wrapper, #team .swiper-team .swiper-wrapper {
    padding-left: calc((100vw - 94%) / 2);
  }
}
#dienstleistungen .swiper-dienstleistungen .swiper-wrapper .swiper-slide, #dienstleistungen .swiper-projekte .swiper-wrapper .swiper-slide, #dienstleistungen .swiper-team .swiper-wrapper .swiper-slide, #projekte .swiper-dienstleistungen .swiper-wrapper .swiper-slide, #projekte .swiper-projekte .swiper-wrapper .swiper-slide, #projekte .swiper-team .swiper-wrapper .swiper-slide, #team .swiper-dienstleistungen .swiper-wrapper .swiper-slide, #team .swiper-projekte .swiper-wrapper .swiper-slide, #team .swiper-team .swiper-wrapper .swiper-slide {
  width: min-content;
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
#dienstleistungen .swiper-dienstleistungen .swiper-wrapper .swiper-slide p, #dienstleistungen .swiper-projekte .swiper-wrapper .swiper-slide p, #dienstleistungen .swiper-team .swiper-wrapper .swiper-slide p, #projekte .swiper-dienstleistungen .swiper-wrapper .swiper-slide p, #projekte .swiper-projekte .swiper-wrapper .swiper-slide p, #projekte .swiper-team .swiper-wrapper .swiper-slide p, #team .swiper-dienstleistungen .swiper-wrapper .swiper-slide p, #team .swiper-projekte .swiper-wrapper .swiper-slide p, #team .swiper-team .swiper-wrapper .swiper-slide p {
  width: fit-content;
  max-width: 21rem;
  text-wrap: pretty;
}
#dienstleistungen .swiper-dienstleistungen .swiper-wrapper .swiper-slide .projekte-content, #dienstleistungen .swiper-projekte .swiper-wrapper .swiper-slide .projekte-content, #dienstleistungen .swiper-team .swiper-wrapper .swiper-slide .projekte-content, #projekte .swiper-dienstleistungen .swiper-wrapper .swiper-slide .projekte-content, #projekte .swiper-projekte .swiper-wrapper .swiper-slide .projekte-content, #projekte .swiper-team .swiper-wrapper .swiper-slide .projekte-content, #team .swiper-dienstleistungen .swiper-wrapper .swiper-slide .projekte-content, #team .swiper-projekte .swiper-wrapper .swiper-slide .projekte-content, #team .swiper-team .swiper-wrapper .swiper-slide .projekte-content {
  display: grid;
  height: fit-content;
  min-height: 11rem;
  align-content: space-between;
}
#dienstleistungen .swiper-dienstleistungen .swiper-wrapper .swiper-slide .team-content p, #dienstleistungen .swiper-projekte .swiper-wrapper .swiper-slide .team-content p, #dienstleistungen .swiper-team .swiper-wrapper .swiper-slide .team-content p, #projekte .swiper-dienstleistungen .swiper-wrapper .swiper-slide .team-content p, #projekte .swiper-projekte .swiper-wrapper .swiper-slide .team-content p, #projekte .swiper-team .swiper-wrapper .swiper-slide .team-content p, #team .swiper-dienstleistungen .swiper-wrapper .swiper-slide .team-content p, #team .swiper-projekte .swiper-wrapper .swiper-slide .team-content p, #team .swiper-team .swiper-wrapper .swiper-slide .team-content p {
  margin-top: 0.25em;
}
#dienstleistungen .swiper-dienstleistungen .swiper-wrapper .swiper-slide img, #dienstleistungen .swiper-projekte .swiper-wrapper .swiper-slide img, #dienstleistungen .swiper-team .swiper-wrapper .swiper-slide img, #projekte .swiper-dienstleistungen .swiper-wrapper .swiper-slide img, #projekte .swiper-projekte .swiper-wrapper .swiper-slide img, #projekte .swiper-team .swiper-wrapper .swiper-slide img, #team .swiper-dienstleistungen .swiper-wrapper .swiper-slide img, #team .swiper-projekte .swiper-wrapper .swiper-slide img, #team .swiper-team .swiper-wrapper .swiper-slide img {
  width: auto;
  height: 32.3rem;
  display: block;
}
@media (max-width: 550px) {
  #dienstleistungen .swiper-dienstleistungen .swiper-wrapper .swiper-slide img, #dienstleistungen .swiper-projekte .swiper-wrapper .swiper-slide img, #dienstleistungen .swiper-team .swiper-wrapper .swiper-slide img, #projekte .swiper-dienstleistungen .swiper-wrapper .swiper-slide img, #projekte .swiper-projekte .swiper-wrapper .swiper-slide img, #projekte .swiper-team .swiper-wrapper .swiper-slide img, #team .swiper-dienstleistungen .swiper-wrapper .swiper-slide img, #team .swiper-projekte .swiper-wrapper .swiper-slide img, #team .swiper-team .swiper-wrapper .swiper-slide img {
    height: 25rem;
  }
}
#dienstleistungen .swiper-dienstleistungen .swiper-scrollbar, #dienstleistungen .swiper-projekte .swiper-scrollbar, #dienstleistungen .swiper-team .swiper-scrollbar, #projekte .swiper-dienstleistungen .swiper-scrollbar, #projekte .swiper-projekte .swiper-scrollbar, #projekte .swiper-team .swiper-scrollbar, #team .swiper-dienstleistungen .swiper-scrollbar, #team .swiper-projekte .swiper-scrollbar, #team .swiper-team .swiper-scrollbar {
  width: 15rem;
  position: relative;
  top: 0;
  left: 0;
  background: #EBEBEB;
  margin-bottom: 1.5rem;
}
#dienstleistungen .swiper-dienstleistungen .swiper-scrollbar .swiper-scrollbar-drag, #dienstleistungen .swiper-projekte .swiper-scrollbar .swiper-scrollbar-drag, #dienstleistungen .swiper-team .swiper-scrollbar .swiper-scrollbar-drag, #projekte .swiper-dienstleistungen .swiper-scrollbar .swiper-scrollbar-drag, #projekte .swiper-projekte .swiper-scrollbar .swiper-scrollbar-drag, #projekte .swiper-team .swiper-scrollbar .swiper-scrollbar-drag, #team .swiper-dienstleistungen .swiper-scrollbar .swiper-scrollbar-drag, #team .swiper-projekte .swiper-scrollbar .swiper-scrollbar-drag, #team .swiper-team .swiper-scrollbar .swiper-scrollbar-drag {
  background: #1BB8D5;
  border-radius: 0;
}
#dienstleistungen .swiper-dienstleistungen .swiper-button-next:after, #dienstleistungen .swiper-dienstleistungen .swiper-rtl .swiper-button-prev:after, #dienstleistungen .swiper-projekte .swiper-button-next:after, #dienstleistungen .swiper-projekte .swiper-rtl .swiper-button-prev:after, #dienstleistungen .swiper-team .swiper-button-next:after, #dienstleistungen .swiper-team .swiper-rtl .swiper-button-prev:after, #projekte .swiper-dienstleistungen .swiper-button-next:after, #projekte .swiper-dienstleistungen .swiper-rtl .swiper-button-prev:after, #projekte .swiper-projekte .swiper-button-next:after, #projekte .swiper-projekte .swiper-rtl .swiper-button-prev:after, #projekte .swiper-team .swiper-button-next:after, #projekte .swiper-team .swiper-rtl .swiper-button-prev:after, #team .swiper-dienstleistungen .swiper-button-next:after, #team .swiper-dienstleistungen .swiper-rtl .swiper-button-prev:after, #team .swiper-projekte .swiper-button-next:after, #team .swiper-projekte .swiper-rtl .swiper-button-prev:after, #team .swiper-team .swiper-button-next:after, #team .swiper-team .swiper-rtl .swiper-button-prev:after {
  content: "";
}
#dienstleistungen .swiper-dienstleistungen .swiper-button-next, #dienstleistungen .swiper-projekte .swiper-button-next, #dienstleistungen .swiper-team .swiper-button-next, #projekte .swiper-dienstleistungen .swiper-button-next, #projekte .swiper-projekte .swiper-button-next, #projekte .swiper-team .swiper-button-next, #team .swiper-dienstleistungen .swiper-button-next, #team .swiper-projekte .swiper-button-next, #team .swiper-team .swiper-button-next {
  right: var(--swiper-navigation-sides-offset, 1rem);
  top: var(--swiper-navigation-top-offset, 42%);
}
#dienstleistungen h4, #projekte h4, #team h4 {
  margin-top: 1.5rem;
}
#dienstleistungen p, #projekte p, #team p {
  margin-top: 0.5rem;
}

#loop {
  margin-top: 3rem;
}
#loop .stage .marquee {
  overflow: hidden;
  position: relative;
  width: 100%;
  user-select: none;
}
#loop .stage .marquee .track {
  display: flex;
  will-change: transform;
  align-items: center;
  white-space: nowrap;
  flex-wrap: nowrap;
  gap: 2rem;
}
#loop .stage .marquee .track > * {
  display: inline-block;
}
#loop .stage .marquee .track .item {
  display: inline-flex;
  gap: 2rem;
  align-items: center;
  min-width: 11rem;
  flex: 0 0 auto;
}
#loop .stage .marquee .track .item .thumb {
  overflow: hidden;
  background: linear-gradient(135deg, #222, #111);
  display: inline-grid;
  place-items: center;
}
#loop .stage .marquee .track .item .thumb img {
  max-width: 100%;
  height: auto;
  display: block;
}
#loop .stage .marquee .track .item .meta {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}
#loop .stage .marquee .track .item .meta .title {
  font-family: "SpaceGroteskBold", sans-serif;
  font-size: 3rem;
  line-height: 123%;
  font-weight: 700;
  text-transform: uppercase;
}

#impressions {
  margin-bottom: 9rem;
}
#impressions .container {
  /* Dynamic bullets pagination */
}
#impressions .container .swiper-impressions {
  overflow: hidden;
  position: relative;
}
#impressions .container .swiper-impressions .swiper-wrapper {
  cursor: grab;
}
#impressions .container .swiper-impressions .swiper-wrapper .swiper-slide {
  margin-top: 2.5rem;
}
@media (max-width: 550px) {
  #impressions .container .swiper-impressions .swiper-wrapper .swiper-slide {
    margin-top: 5rem;
  }
}
#impressions .container .swiper-impressions .swiper-wrapper .swiper-slide .quote {
  width: fit-content;
  max-width: 40rem;
}
#impressions .container .swiper-impressions .swiper-wrapper .swiper-slide .quote .author {
  margin-top: 1.5rem;
}
#impressions .container .swiper-pagination {
  height: fit-content;
  text-align: start;
}
#impressions .container .swiper-pagination-bullets {
  top: 0.5rem;
  left: 0;
}
#impressions .container .swiper-pagination-bullet {
  width: 4rem;
  height: 0.25rem;
  border-radius: 0;
  margin: 0 4px !important;
  background: #EBEBEB;
  opacity: 1;
  transition: all 0.3s;
}
@media (max-width: 550px) {
  #impressions .container .swiper-pagination-bullet {
    width: 3rem;
  }
}
@media (max-width: 420px) {
  #impressions .container .swiper-pagination-bullet {
    width: 2.5rem;
  }
}
@media (max-width: 350px) {
  #impressions .container .swiper-pagination-bullet {
    width: 2rem;
  }
}
#impressions .container .swiper-pagination-bullet-active {
  background: #1BB8D5;
}
#impressions .container .pagination-wrapper {
  display: grid;
  grid-auto-flow: column;
}
#impressions .container .buttons-wrapper {
  display: grid;
  grid-auto-flow: column;
  grid-gap: 1.5rem;
  height: 3rem;
  justify-content: end;
}
#impressions .container .swiper-button-prev, #impressions .container .swiper-button-next {
  position: relative !important;
  width: 2.5rem;
  height: 2.5rem;
}
@media (max-width: 550px) {
  #impressions .container .swiper-button-prev, #impressions .container .swiper-button-next {
    width: 2rem;
    height: 2rem;
  }
}
#impressions .container .swiper-button-prev:after, #impressions .container .swiper-button-next:after {
  content: "";
}
#impressions .container .swiper-button-next {
  right: 0;
}

#kontakt {
  margin-bottom: 6rem;
}
@media (max-width: 820px) {
  #kontakt {
    margin-bottom: 3rem;
  }
}
#kontakt .container-fluid {
  position: relative;
}
#kontakt .container-fluid .bg-img {
  max-width: 100%;
  width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
}
@media (max-width: 1024px) {
  #kontakt .container-fluid .bg-img {
    height: 50vh;
  }
}
@media (max-width: 820px) {
  #kontakt .container-fluid .bg-img {
    height: 60vh;
  }
}
@media (max-width: 440px) {
  #kontakt .container-fluid .bg-img {
    height: 80vh;
  }
}
#kontakt .container-fluid .container {
  margin: 0 calc((100vw - 94%) / 2 + 5rem);
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(0, -50%);
  width: max-content;
}
@media (max-width: 650px) {
  #kontakt .container-fluid .container {
    width: fit-content;
    margin: 0 3rem;
  }
}
#kontakt .container-fluid .container .kontakt-wrapper {
  display: grid;
  grid-auto-flow: column;
  grid-gap: 1rem;
  width: max-content;
}
@media (max-width: 650px) {
  #kontakt .container-fluid .container .kontakt-wrapper {
    grid-auto-flow: row;
  }
}
#kontakt .container-fluid .container .kontakt-wrapper .kontakt-btn {
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  padding: 0.5rem;
  border-radius: 5px;
  background-color: #1BB8D5;
}
@media (max-width: 650px) {
  #kontakt .container-fluid .container .kontakt-wrapper .kontakt-btn {
    width: fit-content;
  }
}
#kontakt .container-fluid .container .kontakt-wrapper .kontakt-btn a {
  margin-left: 0.5rem;
}
#kontakt .container-fluid .container h2 {
  margin: 0 0 2rem 0;
}

#footer footer {
  font-size: 0.9rem;
}
#footer footer .footer-top {
  display: grid;
  grid-template-columns: 1fr 1fr auto;
  grid-gap: 1rem;
  margin-bottom: 10rem;
}
@media (max-width: 650px) {
  #footer footer .footer-top {
    margin-bottom: 7rem;
    grid-template-columns: 1fr 1fr;
    grid-gap: 3rem;
  }
}
@media (max-width: 650px) and (max-width: 550px) {
  #footer footer .footer-top {
    margin-bottom: 3rem;
  }
}
@media (max-width: 650px) and (max-width: 380px) {
  #footer footer .footer-top {
    grid-template-columns: 1fr;
    margin-bottom: 1rem;
  }
}
@media (max-width: 650px) {
  #footer footer .footer-top > :last-child {
    grid-row: 1;
    grid-column: 2;
  }
}
@media (max-width: 650px) and (max-width: 380px) {
  #footer footer .footer-top > :last-child {
    grid-column: 1;
  }
}
#footer footer .footer-top > :last-child {
  justify-self: end;
}
#footer footer .footer-top .col {
  display: grid;
}
#footer footer .footer-top .col a {
  color: #000000;
  transition-duration: 0.3s;
}
#footer footer .footer-top .col a:hover {
  color: #1BB8D5;
}
#footer footer .footer-top .contact {
  display: grid;
  grid-template-columns: auto 2fr;
  grid-column-gap: 1rem;
  width: max-content;
}
#footer footer .footer-bottom {
  display: grid;
  grid-auto-flow: column;
  align-items: end;
  margin-bottom: 1rem;
}
@media (max-width: 1200px) {
  #footer footer .footer-bottom img {
    max-width: 15rem;
  }
}
@media (max-width: 650px) {
  #footer footer .footer-bottom {
    grid-auto-flow: row;
    row-gap: 1rem;
  }
}
#footer footer .footer-bottom .col {
  display: grid;
  grid-auto-flow: column;
  grid-gap: 0.5rem;
  justify-content: end;
}
@media (max-width: 550px) {
  #footer footer .footer-bottom .col {
    justify-content: space-between;
    font-size: 0.6rem;
  }
}
#footer footer .footer-bottom .col a {
  color: #000000;
  transition-duration: 0.3s;
}
#footer footer .footer-bottom .col a:hover {
  color: #1BB8D5;
}

/*# sourceMappingURL=style.css.map */
